*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  max-width:100vw;
  min-height: 100vh;
  text-align: center;
  font-family: 'Manrope';
  padding:0 0 88px 0;
}

.background-color{ 
   padding:89px 32px 284px 32px;
   background: #F1F5FE;
   border-radius: 0px 0px 0px 191.5px;
   background-image: url(./images/pattern-circles.svg) ;
   background-repeat: no-repeat;
   background-position:center top 57px;
}


.title{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #293356;
}

.content{
  padding:0 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  color: #848EAD;
}

.card-container{
  margin-top:-210px;
  padding:0 24px;
}

.card{
  background: #FFFFFF;
  padding:34px 24px 32px 24px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
}

.page-views{
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #848EAD;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 279px;
  height: 8px;
  background: #ECF0FB;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #10D8C4 ;
}

.amount{
  margin-top:40px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.price{
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.8px;
  color: #293356;
}

.month{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #848EAD;
  margin-left:10px;
}

.slider-container{
  position: relative;
  margin-top: 41px;
}

.slide-background{
  border-radius: 5px;
  position: absolute;
  width:50%;
  height:8px;
  background: #A4F3EB;
  top:10px;
}

.discount-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background: #FEEDE8;
  border-radius: 9.5px; 
  width:40px;
  height:20px;
}

.number{
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  color: #FF8D68;
}

.discount{
  display:none;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  color: #FF8D68;
}


.toggle {
  position : relative ;
  display : inline-block;
  width : 43px;
  height : 22px;
  background-color: #CFD8EF;
  border-radius: 30px;

}
     
.toggle:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color:white;
  top: 4px;
  left: 1px;
  transition:  all 0.5s;
}

.checkbox:checked + .toggle::after {
  left : 25px;
}
     
.checkbox:checked + .toggle {
  background-color: #CFD8EF;;
}
     
.checkbox {
  display : none;
}

.monthly{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848EAD
}

.yearly{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848EAD
}

.billing-container{
  margin-top:36px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.check-container{
  display:flex;
  justify-content: center;
  align-items: center;
}


.check-text{
  margin-left:16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848EAD;
}

.first{
  margin-top:67px;
}

.second{
  margin-top:11px;
}

.three{
  margin-top:11px;
}

button{
   margin-top:33px;
   font-family: 'Manrope';
   border:none;
   width:170px;
   height:41px;
   background: #293356;
   border-radius: 20.5px;
   font-weight: 800;
   font-size: 12px;
   line-height: 16px;
   color: #BECDFF;
}